{% extends 'base.html' %}
{% load static %}   
{% block contenido %}

<h1>ADMINISTRADORES</h1>


<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h1>PUBLICACION</h1>

                    <a href="{% url 'home:listadopubl' %}">Listado Publicacion</a> 
                   
                    <form method="POST">
                        {% csrf_token %}
                        Nombre  {{form.nombre}}
                        Apellido {{form.apellido}}
                        TipoNoticia{{form.tipoNoticia}}     
                        <input type="submit" name="Guardar">
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PUBLICION</h1>
    <form method="POST">
        {% csrf_token %}
        Nombre  {{form.nombre}}
        Apellido {{form.apellido}}
        TipoNoticia{{form.tipoNoticia}}     
        <input type="submit" name="Guardar">
    </form>
    
</body>
</html>
-->
