{% extends 'base.html' %}
{% load static %}   
{% block contenido %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h1>EDITAR ESTUDIANTES</h1>
                    <form method="POST">
                        {% csrf_token %}
                        Nombre  {{form.nombre}}
                        Direccion {{form.direccion}}
                        Carne {{form.carne}}
                       
                        <input type="submit" name="Guardar">
                
                    </form>
                    <a href="{% url 'home:listadoest' %}">Mostrar Estudiante</a>
                </div>
            </div> 
        </div>
    </div>
</section>

{% endblock %}
