{% extends 'base.html' %}
{% load static %}   
{% block contenido %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <form action="" method="get">
                        <input type="text" name="nombre" value="{{ request.GET.nombre}}">
                        <button type="submit">Mostrar</button>
                    </form>

                        <h2>Listado Autorizaciones</h2>
                        <a href="{% url 'home:crearAutorizaciones' %}">Crear Autorizacion</a> 
                        <a href="{% url 'home:homeapp' %}">Home</a> 
                        <center>
                            <table class="table table-hover">
                                <tr>
                                    <td>Nombre</td>
                                    <td>Apellido</td>
                                    <td>Comentario</td>
                                    <td>Acciones</td>
                                </tr>
                                {% for aut in object_list %}
                                <tr>
                                    <td>{{aut.nombre}}</td>
                                    <td>{{aut.apellido}}</td>
                                    <td>{{aut.comentario}}</td>
                                    <td><a href="{% url 'home:editaraut' aut.id %}">Editar</a></td>
                                  
                                </tr>
                                {% endfor %}
                            </table>
                        </center>
                       
                </div>
            </div>
        </div>
    </div>
</section>    
{% endblock %}