{% extends 'base.html' %}
{% load static %}   
{% block contenido %}
        <!-- Navigation-->

        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"  href="{% url 'home:homeapp' %}">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href={% url 'home:listadoest' %}>ESTUDIANTES</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href={% url 'home:listadoadm' %}>ADMINISTRADORES</a></li>
                        
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="#">SOBRE NOSOTROS</a></li>


                    </ul>
                </div>
            </div>
        </nav>
        
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <form action="" method = "get">
                                <input type="text" name = "cargo" value ="{{request.GET.cargo}}">
                                <button type = "submit">Buscar</button>
                            </form>

                                <h2>Listado Administradores</h2>
                                <a href="{% url 'home:crearAdministrador' %}">Crear Administrador</a> 
                                <center>
                                    <TABLE BORDER WIDTH="50%">
                                        <tr>
                                            <td>Nombre</td>
                                            <td>Direccion</td>
                                            <td>Cargo</td>
                                            <td>Acciones</td>
                                        </tr>
                                        {% for adm in object_list %}
                                        <tr>
                                            <td>{{adm.nombre}}</td>
                                            <td>{{adm.direccion}}</td>
                                            <td>{{adm.cargo}}</td>
                                            <td><a href="{% url 'home:editaradm' adm.id %}">Editar</a></td>
                                        </tr>
                                        {% endfor %}
                                </center>
                               
                        </div>
                    </div>
                </div>
            </div>
        </section>    
{% endblock %}