{% extends 'base.html' %}
{% load static %}   
{% block contenido %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    
                        <h2>Listado Autorizaciones</h2>
                        <a href="{% url 'home:crearAutorizaciones' %}">Crear Autorizacion</a> 
                        <a href="{% url 'home:homeapp' %}">Home</a> 
                        <center>
                            <TABLE BORDER WIDTH="50%">
                                <tr>
                                    <td>Nombre</td>
                                    <td>Apellido</td>
                                    <td>Comentario</td>
                                    <td>Publicaciones</td>
                                </tr>
                                {% for aut in object_list %}
                                <tr>
                                    <td>{{aut.nombre}}</td>
                                    <td>{{aut.apellido}}</td>
                                    <td>{{aut.comentario}}</td>
                                    <td>{{aut.Publicaciones}}</td>
                                
                                </tr>
                                {% endfor %}
                        </center>
                       
                </div>
            </div>
        </div>
    </div>
</section>    
{% endblock %}