{% extends 'base.html' %}
{% load static %}   
{% block contenido %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    
                    <form action="" method="get">
                        <input type="text" name="titulo" value="{{request.GET.titulo}}">
                        <button type="submit">Mostrar</button>
                    </form>

                        <a href="{% url 'home:crearArticulo' %}">Crear Articulos</a> 
                        <a href="{% url 'home:homeapp' %}">Home</a> 
                        <center>
                            <table class="table table-hover">
                                <tr>
                                    <td>Titulo</td>
                                    <td>Fecha Creacion</td>
                                    <td>Descripcion</td>
                                    <td>Tipo</td>
                                    <td>Publicaciones</td>
                                    <td>Acciones</td>
                                </tr>
                                {% for art in object_list %}
                                <tr>
                                    <td>{{art.titulo}}</td>
                                    <td>{{art.fecha_creacion}}</td>
                                    <td>{{art.descripcion}}</td>
                                    <td>{{art.tipo}}</td>
                                    <td>{{art.publicaciones}}</td>
                                    <td><a href="{% url 'home:editarart' art.id %}">Editar</a></td>
                                </tr>
                                {% endfor %}
                                </table>
                        </center>
                       
                </div>
            </div>
        </div>
    </div>
</section>    
{% endblock %}