{% extends 'base.html' %}
{% load static %}   
{% block contenido %}

<h1>ADMINISTRADORES</h1>


<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h1>CREAR USUARIO</h1>
                    <form method = "POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" name = "Submit">
                
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
