<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        a{color:brown;
            text-align: center; }
        li{
            text-align: center; 
        }
        h1{
            text-align: center; 
        }
        .container{
            text-align: center; 
        }
    
    
    </style>


</head>
<body>
    

    <body>
        <div class ="container" style ="background-color:slategrey">
            <h1 class = "text-center">LISTADO DE ESTUDIANTES</h1>
       
        </div>
       
        <li calss = "text-align">  
            <a href="{% url 'home:homeapp' %}">Home</a> |
            <a href="">Estudiantes</a> |
            <a href="{% url 'home:administratorapp' %}"> Administradores</a> |
            <a href=""> Acerca de</a>   
        </li>
            
        <div class ="container">
        <center>
            <TABLE BORDER WIDTH="50%">
                <tr>
                    <th>Numero</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                </tr>
                <tr class="table-primary" >
                    <td>1</td>
                    <td>Fernanda</td>
                    <td>Fuentes</td>
                    <td>Guatemala</td>
                </tr>
                <tr >
                    <td>2</td>
                    <td>Angelina</td>
                    <td>Borbon</td>
                    <td>España</td>
                </tr>
                <tr class = "table-success">
                    <td>3</td>
                    <td>Marcos</td>
                    <td>Miranda</td>
                    <td>Mexico</td>
                </tr>
        
                <tr class=" fila" >
                    <td class="fila1">4</td>
                    <td class="fila2" >David</td>
                    <td>Juarez</td>
                    <td>Chile</td>
                </tr>
        
            </table>
        </center>
            
    
            <div class= "botones" >
                <button class="btnAgregar" class = "Agregar">AGREGAR</button>
                <button class=" btnListar">LISTAR</button>
            </div>
        </div>


</body>
</html>